:root {
  --colorAli2: #062a64;
  --colorAli3: cornflowerblue;
}

table tbody tr:nth-last-child(1),
table tbody tr:nth-last-child(2) {
  background-color: white; /* Or any color you want */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  color: black;
}

th,
td {
  border: 1px solid var(--colorAli2);
  padding: 8px;
}

th {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

tbody tr:nth-child(even) {
  background-color: var(--colorAli3);
}

.printedError {
	color: red; 
	font-size: 14px;
}

.rowButton {
  background-color: lightblue;
  text-align: center;
  padding: 5px 0;

  button {
    margin: 0 auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f86d6;
  }

  /* YourStyles.module.css or your stylesheet */
  .smallInput {
	  width: 80px; /* Adjust width as needed */
	  font-size: 0.8em; /* Adjust font size */
	  display: inline-block; /* Ensure it stays inline */
  }
}
