:root {
	--colorAli2: #062a64;  
	--colorAli3: #ffbcd9; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  color: black;
}

th, td {
  border: 1px solid var(--colorAli2);
  padding: 8px;
}

th {
  background-color: var(--colorAli3);
}

tbody tr:nth-child(even) {
  background-color: var(--colorAli3);
}

.rowButton{
  background-color: purple;
  text-align: center;
  padding: 5px 0;

  
  button {
	  margin: 0 auto;
	  height: 30px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
}

#lastRow {

}

